{% extends 'base.html' %}
{% block title %}Edit Experience{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 ">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title center"><h3>Experience Information</h3></span>
                    <div class="input-field">
                        <select onchange="selectExperience(value)">
                            <option value="" disabled selected>Choose another experience</option>
                            <option value="../resume/experience?user_id={{ user.id }}">New Experience</option>
                            {% for e in user.life_experiences %}
                            <option  value="../resume/experience?id={{ e.id }}">{{ e.name }} - {{ e.date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form action="" method="post">
                        {{ csrf_token() }}
                        <input name="user_id" value="{{ user.id }}" hidden/>
                        <div class="row">
                            <div class="col s12">
                                <label for="experience_name">Experience Name</label>
                                <input type="text" name="name" id="experience_name" value="{{experience.name}}" placeholder="Title of Experience"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field">
                                <label for="date">Date Experience</label>
                                <input type="date" class="datepicker" id="date" name="date" value="{{experience.date}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 input-field">
                                <label for="desc">About Me</label>
                                <textarea name="description" id="desc" >{{experience.description}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 input-field">
                            <button class="waves-effect waves-light btn" >Save</button>
                                </div>
                            <div class="col s6 input-field"></div>
                            <a class="waves-effect waves-light btn" href="#!" onclick="deleteThis()">Delete</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    var deleteThis = function(){
        $.post("delete_job", {
            "csrf_token": csrf_token,
            "id": '{{ experience.id }}'
        },
        function(data, status){
            if(data){
                window.open("../resume/job?user_id={{ user.id }}", "_self");
            }
        });
    };

    var selectExperience = function(value){
      window.open(value, "_self");
    };

</script>
{% endblock %}

{% block jquery_ready %}
$('select').material_select();

$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 115 // Creates a dropdown of 15 years to control year
  });

$('#desc').trumbowyg();
{% endblock %}