{% extends "base.html" %}
{% block head_styles %}
{{ super() }}
<link rel="stylesheet" href="{{ c.PATH }}/static/css/print.css" />
{% endblock %}
{% block title %}
CV - {{ user.full_name }}
{% endblock %}
{% block content %}
<div id="mainContainer1" class="container-fluid resume-container grey darken-1">
        <div class="print-only">
            <div class="" id="print-header">
                <h1 class="">{{ user.full_name }}</h1>
                <div style="margin-top: -1.5rem;" class="print-header-items print-info">
                    <p class="condensed">{{user.address.name if user.address else "123 DareDoes Site, Internet, WRLD 01101"}}</p>
                    <p class="condensed">
                    {% for contact in user.contact_items|sort(attribute='priority')|rejectattr("printable", 'equalto', false) %}
                        {{contact.description|rerender(obj=user)|striptags }} {% if not loop.last %}|{% endif %}
                    {% endfor %}
                    </p>
                </div>
            </div>
            <hr class="condensed">
            {% if user.about_me %}
            <div class="body">
                {{ user.about_me|rerender(user)|safe }}
            </div>
            {% endif %}
            {% if user.life_experiences %}
            <h5 class="print-header">Education</h5>
            <hr class="half-condensed">
            <div class="print-header-items">
                {% for exp in user.life_experiences|sort(attribute='priority')|rejectattr("printable", 'equalto', false) %}
                        <h6 class="title">{{exp.name}} <span class="right">{{ exp.display_date}}</span></h6>
                        <div class="body condensed">{{ exp.description|rerender(user)|safe }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% if user.job_experiences %}
            <h5 class="print-header">Experiences</h5>
            <hr class="half-condensed">
            <div class="print-header-items">
                {% for exp in user.job_experiences|sort(attribute='end_date', reverse=1)|sort(attribute='priority')|rejectattr("printable", 'equalto', false) %}
                        <h6 class="title">{{exp.name}} - {{ exp.job_title}} <span class="right">{{ exp.display_date}}</span></h6>

                        <div class="body condensed">{{ exp.description|rerender(user)|safe }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% if user.skills %}
            <div>
            <h5 class="print-header">Skills</h5>
                    <hr class="half-condensed">
                <div class="body row" style="border: double;">
                {% for skill in user.skills|rejectattr("printable", 'equalto', false)|sort(attribute='priority') %}
                    <span>{{ skill.name }}</span>{% if not loop.last %}<span> • </span>{%endif%}
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card grey lighten-4 no-print">
            <div class="row center">
                <div id="photo" class="grey lighten-4 circle" >
                    {% if user.uploaded_pic %}
                    <img src="{{ user.pic_src }}" alt="" class="circle responsive-img " style="vertical-align: middle">
                    {% else %}
                    <img src="../static/images/avatar.jpg" alt="" class="circle responsive-img " style="vertical-align: middle">
                    {% endif %}
                </div>
                <div class="col s12 no-print">

                    <p class="center heavy" style="margin-top: -0.2em; margin-bottom: 0; font-size: 2.5em;">Hello,</p>
                    <p class="center heavy" style="margin-top: 0; font-size: 2em;">My name is <span class="green-text  text-darken-2 print">{{ user.full_name }}</span>
                        <sup class="grey-text text-lighten-1">{{ user.age|int }}YO</sup> and this is
                        {%if c.CURRENT_ADMIN.id == user.id %}<a class="green-text text-darken-2" href="../resume/edit?id={{ user.id }}">my</a>{% else %}my{% endif %} resume/cv</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l7">
                    {% if user.about_me %}
                    <div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//About Me</p>
                        <div id="about_text">
                            {{ user.about_me|rerender(obj=user)|safe }}
                        </div>
                    </div>
                    {% endif %}
                    {% if user.life_experiences %}
                    <div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//Education</p>
                        <ul class="collection grey lighten-4" style="border: 0;">
                            {% for e in user.life_experiences|sort(attribute='year')|sort(attribute='priority') %}
                                <li class="collection-item grey lighten-4 no-padding" style="border:0; padding: 1em 0em 5em 0.05em !important;" >
                                    <div class="left col no-padding m1 s2 l2">
                                        <span class="badge boxed grey darken-1">{{ e.year }} </span>
                                    </div>
                                    <div class="col m11 s10 l10">
                                        <span class="experience-title">{{ e.name|rerender(user)|safe }}</span>
                                        <br>
                                        <span class="grey-text text-darken-1 body">
                                            {{ e.description|rerender(user)|safe }}
                                        </span>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                    {% endif %}
                    {% if user.job_experiences %}
                    <div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//Experiences</p>
                        <div class="scroll-box">
                            <div class="row">
                                <div class="col s12">
                                    {% for e in user.job_experiences|sort(attribute='end_date', reverse=1)|sort(attribute='priority') %}
                                    <div class="card grey lighten-4">
                                        <div class="card-content black-text">
                                            <span class="card-title"><a href="{{ e.link }}">{{ e.name }} - {{ e.job_title}}</a></span>
                                            {{ e.description|rerender(user)|safe}}
                                        </div>
                                        <div class="card-action">
                                            <span class="">{{ e.display_date }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
                    </div>

                <div class="col s12 l5">
                    {% if user.contact_items %}
                    <div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//Contact</p><hr>
                        <ul class="collection grey lighten-4 " style="border: 0;">
                        {% for contact in user.contact_items|sort(attribute='name')|sort(attribute='priority') %}
                            <li class="collection-item avatar grey lighten-4" style="margin-bottom: -2em;">
                                <a href="{{ contact.link }}"><i class="fa {{ contact.icon }} circle blue lighten-1"></i></a>
                            <span class="title heavy">{{ contact.name }}</span>
                                <p>{{ contact.description }}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if user.skills %}
                    <div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//Skills</p>
                    <hr>
                    <div class="row resume-bar-level-text grey-text text-darken-2">
                        <div class="col s3 center" style="border-top: double; border-left: double">
                            Beginner
                        </div>
                        <div class="col s3 center" style="border-top: double; border-left: double">
                            Competent
                        </div>
                        <div class="col s3 center" style="border-top: double; border-left: double; border-right: double;">
                            Expert
                        </div>
                        <div class="col s3 center" style="border-top: double; border-right: double">
                            Master
                        </div>
                    </div>
                    <div class="row">
                    {% for skill in user.skills|sort(attribute='level') %}
                        <div class="resume-bar-holder">
                            <div class="resume-bar green" style="width: {{ skill.level }}%;">
                                <span class=" resume-bar-text">{{ skill.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% if user.hobbies %}
                    </div><div class="row">
                    <p class="resume-section-header heavy green-text  text-darken-2">//Hobbies</p><hr>
                    {% for hobby in user.hobbies|sort(attribute='name')|sort(attribute='priority') %}
                    <div class="chip">
                        <i class="fa fa-heart"></i> {{hobby.name}}
                    </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}